.dropdown__item {
  transition:
    opacity 0.3s ease,
    background-color 0.3s ease;
  padding-bottom: 16px;
  box-sizing: border-box;
  align-items: center;
  align-content: center;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.dropdown__item:active {
  transform: translateY(2px);
}

.dropdown__item_icon {
  height: 22px;
  width: 22px;
}

.dropdown__item:nth-last-child(1) {
  padding: 0;
}

.dropdown__item:hover {
  opacity: 0.7;
  color: var(--color-primary);
  transition: opacity 0.3s ease;

  .dropdown__item_icon {
    border-radius: 30px;
    background-color: var(--color-bg-accent);
  }
}
