<div class="change-avatar-form__input-wrapper">
    <input type="file" accept="image/*" class="change-avatar-form__input" />
</div>
<div class="change-avatar-form__buttons">
    {{{SaveButton}}}
    {{{CancelButton}}}
</div>

