.change-avatar-form {
  z-index: 550;
}

.change-avatar-form__input-wrapper {
  margin-bottom: 20px;
}

.change-avatar-form__input {
  width: 100%;
  border: 1px solid var(--color-bg-secondary);
  border-radius: 4px;
}

.change-avatar-form__buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
