<div class="user-search-modal__header">
  <h3>Поиск пользователей</h3>
</div>
<div class="user-search-modal__search">
  {{{SearchInput}}}
  {{{SearchButton}}}
</div>
<div class="user-search-modal__list">
  {{{UserSearchListComponent}}}
</div>
<div class="user-search-modal__actions">
  {{{CreateChatButton}}}
</div> 