<div class="chat-sidebar__button">
    {{{ProfileButton}}}
</div>
<div class="chat-sidebar__input">
    {{{SearchInput}}}
</div>
<div class="chat-sidebar__list">
    {{#each ChatPreviews}}
        <div class="chat-preview-item">{{{this}}}</div>
    {{/each}}
</div>
