<div class="chat-sidebar__button">
    {{{ProfileButton}}}
</div>
<div class="chat-sidebar__input">
    {{{SearchInput}}}
</div>
<ul class="chat-sidebar__list">
    {{#each ChatPreviews}}
        <li>{{{this}}}</li>
    {{/each}}
</ul>
