.chat-sidebar {
  overflow-y: auto;
  width: 15%;
  min-width: 310px;
  height: 100%;
  border-right: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  background: var(--color-bg-primary);
  box-sizing: border-box;
}

.chat-sidebar__buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 10px;
  padding: 21px 20px 10px;
}

.chat-sidebar__input {
  padding: 20px 10px 15px;
}

.chat-sidebar__list {
  flex-grow: 1;
  overflow-y: auto;
  margin: 0;
  list-style: none;
  scrollbar-width: none;
}
