.modal {
  display: none;
}

.modal__opened {
  display: flex;
}

.modal__overlay {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100vw;
  height: 100vh;
}

.modal__container {
  position: relative;
  border-radius: 12px;
  min-width: 340px;
  padding: 30px 40px;
  background-color: white;
  margin: auto;
}

.modal__content {
  padding: 10px 0 33px;
}

.modal__title {
  text-align: center;
  color: black;
  font-weight: 500;
}

.modal__buttons {
  display: flex;
  flex-direction: column;
}

.modal__close-btn {
  padding: 0;
  border: none;
  position: absolute;
  top: 15px;
  right: 20px;
  width: 20px;
  height: 20px;
  background-image: url('../../../../public/icons/close-icn.svg');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}
