<div class="profile">
    <aside class="button__sidebar">
        <div class="button__container">
            {{> UiButton type='arrow-left' }}
        </div>
    </aside>
    <div class="profile-container">
        <div class="profile__info">
            {{> UiProfileAvatar type='large' src=profileAvatar alt=profileName }}
            <h2 class="profile__name">{{profileName}}</h2>
        </div>
        <form action="" class="profile__form">
            {{> ProfileInput profile=true placeholder='Старый пароль' type='password' value='123456' className='profile' name='oldPassword' }}
            {{> ProfileInput profile=true placeholder='Новый пароль' type='password' value='123456' className='profile' name='newPassword' }}
            {{> ProfileInput profile=true placeholder='Повторите новый пароль' type='password' value='123456' className='profile' name='newPassword' }}
            <div class="profile__form_buttons">
                {{> UiButton type='primary' label='Сохранить' }}
            </div>
        </form>
    </div>
</div>
