.button {
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  outline: none;
  transition: all 0.2s ease;
}

.button:active {
  transform: translateY(2px);
}

.button:disabled {
  background-color: rgb(206 200 200);
  color: gray;
  opacity: 0.5;
  cursor: not-allowed;
  transform: none !important;
}

.button:disabled:hover {
  opacity: 0.5;
  transform: none;
}

.button:hover {
  opacity: 0.8;
  transition: opacity 0.2s ease;
}

.button__primary {
  background-color: var(--color-primary);
  border: none;
  color: white;
}

.button__dots,
.button__arrow-right,
.button__arrow-left,
.button__close,
.button__attach,
.button__create-chat,
.button__create-message {
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  border-radius: 50%;
  min-height: 28px;
  width: 28px;

  &:hover {
    opacity: 0.4;
  }
}

.button__arrow-unstyled {
  background: none;
  padding: 0;
  color: var(--color-text-secondary);
}

.button__arrow-unstyled::after {
  content: '';
  transform: translateY(50%);
  top: 5px;
  right: -13px;
  display: block;
  position: absolute;
  background-image: url('../../../../public/icons/unstyled-arrow.icon.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 8px;
  height: 8px;
}

.button__arrow-right,
.button__arrow-left {
  background-color: var(--color-primary);
}

.button__close,
.button__dots {
  background-color: transparent;
}

.button__dots {
  background-image: url('../../../../public/icons/dots.svg');
}

.button__arrow-right {
  background-image: url('../../../../public/icons/arrow-right.svg');
}

.button__arrow-left {
  background-image: url('../../../../public/icons/arrow-left.svg');
}

.button__close {
  background-image: url('../../../../public/icons/close-icn.svg');
}

.button__attach {
  background-color: transparent;
  background-image: url('../../../../public/icons/button-attach.icon.svg');
}

.button__create-chat {
  background-image: url('../../../../public/icons/create-chat.svg');
}

.button__create-message {
  background-color: transparent;
  background-image: url('../../../../public/icons/create-message.svg');
  border-radius: 0;
  width: 24px;
  height: 24px;
}

.button__link-style {
  font-size: 12px;
  padding-left: 0;
  padding-bottom: 10px;
  border-radius: 0;
  background: none;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  border-bottom: 1px solid;
  color: var(--color-primary);
}

.button__link-style:disabled {
  background: none;
  border-bottom: 1px solid var(--color-border);
}
