<div class="message__content">
    <p class="message__text">{{text}}</p>
    <div class="message__statuses">
        {{#if status}}
            <span class="message__status message__status_{{status}}"></span>
        {{/if}}
        <p class="message__time_type_chat">{{time}}</p>
    </div>
</div>

