<aside class="chat-sidebar">
    <div class="chat-sidebar__button">
        {{> UiButton type='arrow-unstyled' label="Профиль" }}
    </div>
    <div class="chat-sidebar__input">
        {{> UiCombinedInput name='search' placeholder='Поиск' }}
    </div>
    <ul class="chat-sidebar__list">
        {{#each chats}}
            {{> UiChatPreview name=profileName time=sentTime message=messageText count=messageCount}}
        {{/each}}
    </ul>
</aside>
