<div class="error">
    <div class="error__text">
        <h1 class="error__title">{{errorCode}}</h1>
        <h2 class="error__subtitle">{{errorMessage}}</h2>
        <img src="{{src}}" alt="Изображение ошибки" class="error__image">
        {{> UiLink type='primary' name=linkName path=linkPath border=false}}
    </div>
</div>
