<div class="chat">
    {{#> UiBlock type='gray' selected=isSelected id=chatId}}
        <div class="chat__preview">
            {{> UiProfileAvatar type='small' src=avatarSrc alt=avatarName}}
            <div class="chat__content">
                <div class="chat__header">
                    <h5 class="chat__name">{{name}}</h5>
                    <p class="message__time">{{time}}</p>
                </div>
                <p class="chat__message text-xsmall">{{{message}}}</p>
            </div>
            {{#if count}}
                <span class="message__count">{{count}}</span>
            {{/if}}
        </div>
    {{/UiBlock}}
</div>