<nav class="navigation">
    <a href="#" data-page="signUp" class="link">Регистрация</a>
    <a href="#" data-page="signIn" class="link">Вход</a>
    <a href="#" data-page="changePassword" class="link">Сменить пароль</a>
    <a href="#" data-page="profileEdit" class="link">Изменить данные о профиле</a>
    <a href="#" data-page="chats" class="link">Чаты</a>
</nav>
