<ul>
  <li><a href='#' page='login'>Login</a></li>
  <li><a href='#' page='signup'>SignUp</a></li>
  <li><a href='#' page='notFound'>notFound</a></li>
  <li><a href='#' page='serverError'>serverError</a></li>
  <li><a href='#' page='chats'>chats</a></li>
  <li><a href='#' page='emptyChats'>emptyChats</a></li>
</ul>