<div class="chat-page">
    {{> ChatSideBar chats=chats }}

    <main class="chat-main">
        {{#if (findActiveChat chats)}}
            {{#with (findActiveChat chats) as |activeChat|}}
                <div class="chat-messages_header">
                    {{> ChatHeader
                            profileName=activeChat.profileName
                            profileAvatar=activeChat.avatar
                    }}
                </div>
                <div class="chat-messages">

                </div>
                <div class="chat-messages_textarea">
                    {{> ChatTextArea }}
                </div>
            {{/with}}
        {{else}}
            {{> ChatEmptyState }}
        {{/if}}
    </main>
</div>