.chat-page {
  display: flex;
  height: 100vh;
  width: 100%;
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
}

.chat-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: var(--color-text-inverted);
}

.empty-state {
  text-align: center;
  color: var(--color-text-secondary);

  h2 {
    font-weight: normal;
    font-size: 12px;
  }
}

.chat-sidebar {
  overflow-y: auto;
  width: 310px;
  min-width: 310px;
  height: 100%;
  border-right: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  background: var(--color-bg-primary);
  box-sizing: border-box;
}

.chat-sidebar__button {

  width: fit-content;
  margin-left: auto;
  padding: 21px 20px 10px;
}

.chat-sidebar__input {
  padding: 20px 10px 15px;
}

.chat-sidebar__list {
  flex-grow: 1;
  overflow-y: auto;
  margin: 0;
  list-style: none;
  scrollbar-width: none;
}

.chat-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat-messages_textarea,
.chat-messages_header {
  padding: 0 20px 0;
}
