<div class="create-chat-modal__content">
  <div class="create-chat-modal__description">
    <p>Введите название для нового чата</p>
  </div>
  
  <div class="create-chat-modal__input">
    {{{TitleInputComponent}}}
  </div>
  
  <div class="create-chat-modal__actions">
    {{{CancelButtonComponent}}}
    {{{CreateButtonComponent}}}
  </div>
</div> 

