<div class="profile__avatar profile__avatar_{{type}}">
  <div class="profile__avatar_container">
    <img src="{{src}}" alt="{{alt}}" />
  </div>
  <div class="profile__avatar_overlay">
    <p class="profile__avatar_overlay-text">Поменять аватар</p>
  </div>
</div>