  <div class="profile__avatar_container">
    <img src="{{url}}" alt="{{alt}}" class="profile__avatar_image" />
  </div>
  <div class="profile__avatar_overlay">
    <p class="profile__avatar_overlay-text">Поменять аватар</p>
  </div>

