  <div class="profile__avatar_container">
    {{#if url}}
      <img src="{{url}}" alt="{{alt}}" class="profile__avatar_image" />
    {{else}}
      <span class="profile__avatar_letter">{{name.[0]}}</span>
    {{/if}}
  </div>
  <div class="profile__avatar_overlay">
    <p class="profile__avatar_overlay-text">Поменять аватар</p>
  </div>


