<div class="auth">
    <form action="" class="form">
        <h2 class="form__title">Вход</h2>
        
        <div class="form__input-group">
            {{{LoginInput}}}
            {{{PasswordInput}}}
        </div>

        <div class="form__button-group">
            {{{SignInButton}}}
            <div class="form__link">
                {{{SignInLink}}}
            </div>
        </div>
    </form>
</div>

