{{#> UiBlock}}
    <div class="chat__header">
            <div class="profile__info">
                {{> UiProfileAvatar type='default' src=profileAvatar alt=profileName }}
                <h5 class="profile__name">{{profileName}}</h5>
            </div>
        {{> UiButton type='dots' }}
    </div>
{{/UiBlock}}