.chat-empty {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: var(--color-text-inverted);
}

.empty-state {
  text-align: center;
  color: var(--color-text-secondary);

  h2 {
    font-weight: normal;
    font-size: 12px;
  }
}
