<div class="user-search-item">
  <div class="user-search-item__info">
    {{{ProfileAvatarComponent}}}
    <div class="user-search-item__details">
      <h4>{{user.display_name}}</h4>
      <p>{{user.login}}</p>
    </div>
  </div>
  <div class="user-search-item__action">
    {{{SelectButton}}}
  </div>
</div> 