.chat__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.chat__header_info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
