{{#> UiBlock}}
    <div class="chat__textarea">
        <div class="chat__textarea-button">
            {{> UiButton type='attach' }}
        </div>
        <div class="chat__textarea-input">
            {{> UiCombinedInput name='message' placeholder='Сообщение' }}
        </div>
        <div class="chat__textarea-button">
            {{> UiButton type='arrow-right' }}
        </div>
    </div>
{{/UiBlock}}
