.chat-page {
  display: flex;
  height: 100vh;
  width: 100%;
}

.chat-messages {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  scrollbar-width: none;
  padding: 20px;
  overflow-y: auto;
  height: 100%;
  box-sizing: border-box;
}

.chat-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.chat-messages_textarea,
.chat-messages_header {
  padding: 0 20px;
}
