.chat-page {
  display: flex;
  height: 100vh;
  width: 100%;
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
}

.chat-main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.chat-messages_textarea,
.chat-messages_header {
  padding: 0 20px;
}
