{{#> UiBlock}}
    <div class="chat__textarea">
        <div class="chat__textarea-button">
            {{{AttachButton}}}
            {{{AttachDropdown}}}
        </div>
        <div class="chat__textarea-input">
            {{{MessageInput}}}
        </div>
        <div class="chat__textarea-button">
            {{{SendButton}}}
        </div>
    </div>
{{/UiBlock}}

