.chat__textarea {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px 0;
  gap: 10px;
}

.chat__textarea-button {
  position: relative;
  display: flex;
  align-items: center;
}

.chat__textarea-input {
  flex: 1;
  min-width: 0;
}
