<div class="chat__messages-flow">
    <h3 class="chat__dialog_date">{{createDate}}</h3>
    {{#each MessageItems}}
        <div class="message-row">
            {{{this}}}
        </div>
    {{/each}}
    {{#each SystemMessages}}
        <div class="system-message-row">
            {{{this}}}
        </div>
    {{/each}}
</div>

