<div class="not-found">
    {{> UiErrorMessage
            errorCode='404'
            errorMessage='Не туда попали'
            linkName='Назад к чатам'
            src='/images/404-ducks.png'
            linkPath='/'}}
</div>
