<div class='input__auth'>
  <label class='input__label'>
    <input
      type='{{type}}'
      placeholder=' '
      class='input__field input__field_float-label text-xsmall'
      value='{{value}}'
    />
    <span class='input__placeholder'>{{placeholder}}</span>
    <span class='input__error text-xxsmall'>{{error}}</span>
  </label>
</div>