<div class="input_{{name}}">
  <label class="input__label input__label_{{name}}">
    <input
      class="input__field input__field_{{name}}"
      placeholder="{{placeholder}}"
      type="text"
    />
  </label>
</div>